* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
  }
  * li {
    list-style: none;
  }
  * a {
    text-decoration: none;
  }
 
  .container {
    min-height: 120vh;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
  }
  .bg {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .bg::after {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    filter: brightness(45%);
    background-image: url("img/house.jpg.jpg");
    background-size: cover;
    background-position: center;
    margin-bottom: 0;
  }
  .navBar {
    height: 60px;
  background-color: coral;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  align-items: center;
  }
  .navBar ul {
    display: flex;
    align-items: center;
  }
  .navBar ul li {
    padding: 0 25px;
  }
  .navBar ul li a {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    letter-spacing: 1.5px;
  }
  .navBar .logo a {
    font-size: 2.3rem;
    color: #fff;
  }

  .header-info a{
    color: white;
    border: 1px solid white;
    text-decoration: none;
    padding: .5rem 1rem;
    display: inline-block;
  
  }

  .header-info h1{
    color: #fff;
  }

  .pictures{

    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
  
  }
  
  .pictures figure img{
    width: 100%;
    height: 300px;
  }
  
  footer{
    background-color: coral;
    padding: 2rem;
    text-align: center;
    color: white;
    margin-bottom: 20px;
  }
  
 main{ padding: 3rem 0;
    background-color: none;}

main > h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 3rem;
 
}

img{

  margin-bottom: 5px;
  margin-right: 20px;
  border-radius: 10px;
  


  
}

figure{


  border-radius: 20px;
  text-align: center;
}

figcaption{

  border-radius: 10px;
}

figcaption h3{
  color: rgb(243, 232, 232);
  
}

figcaption p{
  color: red;
  
}

hr{
  margin-top: 20px;

  background-color: none;
}
